.menuHorizontal a {text-decoration: none; color: crimson;}
.menuVertical a {text-decoration: none; color: white;}
.menuHorizontal a:hover { text-decoration: underline;}
.menuVertical a:hover { text-decoration: underline;}

/* <span class="menuHorizontal"><a href="#">Opcion No.1</a></span> */
.menuHorizontal {
    height: 75%; font-size: 75%;
    transition: height 750ms, font-size 750ms;
}

.menuHorizontal:hover{
    height: 125%; font-size: 125%;
}

/* <div class="menuVertical"><a href="#">Opcion No.1</a></div> */
.menuVertical{
    border: 1px solid black;
    height: 20px; width: 100px;
    background-color: deepskyblue;
    transition: width 650ms, background-color 650ms;
}
.menuVertical:hover{
    width: 200px;
    background-color: deeppink;
    transform: matrix3d(122);
}
#element{
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 2.5s;
    transform: rotate3d(1, 1, 1, 30deg);
    margin: 50px auto;
}

#element:hover, #element:focus{
    transform: rotate3d(1, 1, 1, 180deg);

}

.face{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: inherit;
    font-size: 60px;
    color: black;
}
.front{background-color: yellow; transform: translateZ(50px);}
.back{background-color: aquamarine; transform: rotateY(180deg) translateZ(50px);}
.left{background-color: blueviolet; transform: rotateY(-90deg) translateZ(50px);}
.right{background-color: crimson; transform: rotateY(90deg) translateZ(50px);}
.top{ background-color: darkslateblue; transform: rotateX(90deg) translateZ(50px);}
.botton{background-color: dimgray; transform: rotateX(-90deg) translateZ(50px);}

.barraProgreso{
    height: 25px; width: 775px; background-color: gray;
    color: black; font-size: 125%; font-weight: bold; text-align: center;
    text-transform: uppercase; animation-timing-function: linear; animation-direction: reverse;
    animation-name: progreso; animation-duration: 10s; animation-delay: 1.5s;
}

@keyframes progreso{
    0%{background-color: bisque; width: 0px;}
    33%{background-color: crimson; width: 250px;}
    60%{background-color: green; width: 500px;}
    99%{background-color: black; width: 750px;}

}