h1{ border: 2px solid gold;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-style: italic;
}
p{
    border-style: solid;
    border-color: green;
    border-width: 2.5px;
    border-radius: 10px;
}
ul{
    border-style: dotted;
    border-color: dodgerblue;
    border-width: 5px;

}
li{
    border-style: dashed;
    border-color: lightcoral;
    border-width: 2.5px;
}

body{
    background-image: url("../Imagenes/Logo\ Zelda.png");
    background-size: 175px;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
      
} 
